/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START VARIABLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
  --maincolor: #10cab7;
  --secend-color: #2c4755;
  --section-padding: 60px;
  --section-color: #f6f6f6;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END VARIABLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START GLOBAL RULES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.services .spatial-heading {
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  font-size: 100px;
  letter-spacing: -8px;
  margin: 0;
}
.services .spatial-heading + p {
  text-align: center;
  margin: -20px 0 0;
  font-size: 20px;
  color: rgba(119, 119, 119, 0.719);
}
@media (max-width: 767px) {
  .services .spatial-heading {
    font-size: 80px;
  }
  .services .spatial-heading + p {
    font-size: 15px;
  }
}
body {
  font-family: "Work Sans", sans-serif;
}
.contaner {
  /* the padding is added so the text donse note start from the edge in the phone screan */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* the back-ground color is for testing */
  /* background-color: aqua; */
}
/* Small Screan */
@media (min-width: 768px) {
  .contaner {
    width: 750px;
  }
}
/* Midium screan */
@media (min-width: 992px) {
  .contaner {
    width: 970px;
  }
}
/* Larg screan */
@media (min-width: 1200px) {
  .contaner {
    width: 1170px;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END GLOBAL RULES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ START HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.header {
  padding: 20px;
}
/* Make the logo and the links in the same line */
.header .contaner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
/* ANIMATION WHEN YOU HOVER ON THE LINKS */
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
/* DROW THE ICON START */
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: black;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
/* DROW THE ICON END */
.header .links ul {
  background-color: aliceblue;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  width: 200px;
  display: none;
  z-index: 1;
}
/* DISPLAY THE LISTE WHEN HOVER */
.header .links:hover ul {
  display: block;
}
/* DROW THE ARROW */
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent aliceblue transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
/* STYYLE THE LINKS */
.header .links ul li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  transition: 0.3s;
  color: black;
}
/* COOL ANIMATION */
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ landing start ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.landing {
  position: relative;
  background: url(../images/back-ground.webp);
  background-size: cover;
  /* 100vh - the hight of the header */
  height: calc(100vh - 64px);
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0px;
  color: var(--maincolor);
  font-weight: 800;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  /* space between lines */
  line-height: 1.6;
  margin-top: 0px;
  color: #777;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ landing end ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ feachers START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.featurs {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color);
}
.featurs .contaner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.featurs .feat {
  padding: 20px;
  text-align: center;
}
.featurs .feat i {
  color: var(--maincolor);
}
.featurs .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.featurs .feat p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ END feachers ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ serveses START ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .service-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
.services .service-content .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .service-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .service-content .serv i {
  color: var(--maincolor);
  flex-basis: 60px;
}
.services .service-content .serv .text {
  flex: 1;
}
.services .service-content .serv .text h3 {
  margin-top: 0;
}
.services .service-content .serv .text p {
  font-weight: 300;
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
.services .service-content .image {
  position: relative;
  text-align: center;
}
.services .service-content .image img {
  width: 260px;
}
.services .service-content .image::before {
  content: "";
  background-color: var(--secend-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}

@media (max-width: 1199px) {
  .services .service-content .image {
    display: none;
  }

  .services .service-content .serv .text p {
    text-align: center;
  }
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ serveses END  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ portfolio START  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* .portfolio {
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.portfolio .contaner .portfolio-content {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.portfolio .contaner .portfolio-content .port {
  display: flex;
}
.portfolio .contaner .portfolio-content .pic img {
  width: 360px;
  height: 240px;
}
.portfolio .contaner .portfolio-content .colm {
  background-color: white;
}
.portfolio .contaner .portfolio-content .colm .text h3 {
  margin-left: 15px;
}
.portfolio .contaner .portfolio-content .colm .text p {
  margin-left: 15px;
  line-height: 1.6;
  color: #777;
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ portfolio END  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ portfolio START  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.porfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
  margin-top: 100px;
}
.porfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.porfolio .cart {
  background-color: white;
}
.porfolio .cart img {
  width: 100%;
}
.porfolio .text {
  padding: 20px;
}
.porfolio .text p {
  color: #777;
  line-height: 1.6;
  margin: 0;
  padding-top: 20px;
}
.porfolio .text h3 {
  margin: 0;
}
@media (max-width: 767px) {
  .porfolio .text p {
    text-align: center;
  }
  .porfolio .text h3 {
    text-align: center;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ portfolio ends  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ about START  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .about-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 230px;
  margin-top: 80px;
}
.about .about-content .image {
  position: relative;
  text-align: center;
}
.about .about-content .image img {
  width: 260px;
}

.about .about-content .text p:first-child {
  font-weight: bolder;
  line-height: 2;
  margin-bottom: 80px;
}
.about .about-content .text p:last-child {
  line-height: 2;
  color: #777;
  margin-top: 30px;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  background-color: rgb(241, 241, 241);
  height: calc(100% + 80px);
  left: -20px;
  top: -45px;
  width: 100px;
  z-index: -1;
}
.about .about-content .image::before {
  content: "";
  background-color: transparent;
  height: calc(100% - 75px);
  width: 100px;
  position: absolute;
  right: -130px;
  top: -45px;
  border-bottom: 80px solid var(--maincolor);
  border-left: 85px solid var(--maincolor);
  z-index: -1;
}
.about .about-content .text {
  position: relative;
}
.about .about-content .text hr {
  background-color: var(--maincolor);
  width: 300px;
  height: 1px;
  left: 0;
  position: absolute;
  top: 150px;
}
@media (max-width: 767px) {
  .about .about-content .image::before {
    display: none;
  }
  .about .about-content .image::after {
    display: none;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ about ends  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ about START  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-color);
}

.contact .contact-content .info {
  text-align: center;
  margin-top: 80px;
}
.contact .contact-content .info p {
  font-weight: 800;
  font-size: 35px;
  color: var(--secend-color);
  margin-bottom: 15px;
  letter-spacing: -2px;
}
.contact .contact-content a {
  text-decoration: none;
  font-weight: 800;
  color: var(--maincolor);
  font-size: 35px;
  margin-top: 0;
}
.contact .contact-content .sm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-content .sm i {
  color: var(--secend-color);
  margin-left: 10px;
}
.contact .contact-content .sm p {
  line-height: 1.6;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ contact ends  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer START  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.footer {
  padding-top: var(--section-padding);
  background-color: var(--secend-color);
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 30px 10px;
}
.footer .text span {
  color: var(--maincolor);
  font-weight: 800;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ footer ends  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/ ;
